@font-face {
	font-family: "Roboto Mono";
	src: url("./assets/fonts/RobotoMono.ttf");
}

body {
	font-family: "Roboto Mono", monospace;
}

body,
html {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.editor-placeholder::placeholder {
	color: #ccc;
	/* content: attr(data-text); */
}
